In [1]:
import pandas as pd
import numpy as np

In [2]:
data = [10, 20, 30, 40]
series = pd.Series(data, name="Giá trị")
series

0    10
1    20
2    30
3    40
Name: Giá trị, dtype: int64

#Bài tập 1: Tạo và làm việc với DataFrame

In [6]:
data_array = np.random.rand(4,3)
dfArray = pd.DataFrame(data_array, columns=["ColumnLabel1", "ColumnLabel2", "ColumnLabel3"])
dfArray

   ColumnLabel1  ColumnLabel2  ColumnLabel3
0      0.595631      0.375960      0.239995
1      0.359361      0.579700      0.446572
2      0.975456      0.121864      0.723163
3      0.187466      0.583530      0.276845

In [ ]:
#Bài tập 2: Đọc và ghi dữ liêệu CSV

In [8]:

# Tạo dữ liệu ngẫu nhiên về iPhone và MacBook
data = [
    {"Product": "iPhone 13", "Model": "A2633", "Storage": "128GB", "Color": "Blue", "Price": 799},
    {"Product": "iPhone 14", "Model": "A2882", "Storage": "256GB", "Color": "Midnight", "Price": 899},
    {"Product": "iPhone 15 Pro", "Model": "A3102", "Storage": "512GB", "Color": "Titanium", "Price": 1199},
    {"Product": "MacBook Air", "Model": "M2", "Storage": "256GB", "Color": "Silver", "Price": 1199},
    {"Product": "MacBook Pro", "Model": "M3", "Storage": "512GB", "Color": "Space Gray", "Price": 1999},
    {"Product": "iPhone SE", "Model": "A2783", "Storage": "64GB", "Color": "Red", "Price": 429},
    {"Product": "iPhone 14 Pro Max", "Model": "A2894", "Storage": "1TB", "Color": "Gold", "Price": 1599},
    {"Product": "MacBook Pro", "Model": "M2 Max", "Storage": "1TB", "Color": "Silver", "Price": 2499},
    {"Product": "iPhone 12", "Model": "A2403", "Storage": "128GB", "Color": "Purple", "Price": 699},
    {"Product": "MacBook Air", "Model": "M1", "Storage": "256GB", "Color": "Gold", "Price": 999},
]

# Chuyển dữ liệu thành DataFrame
df = pd.DataFrame(data)

# Lưu file CSV
file_path = "/Katalon/Python_AIML/pythonOOP/Day4_Pandas/iphone_macbook_test.csv"
df.to_csv(file_path, index=False)

# Trả về đường dẫn file
file_path

'/Katalon/Python_AIML/pythonOOP/Day4_Pandas/iphone_macbook_test.csv'

In [14]:
#Đọc dữ liệu ừ CSV
df = pd.read_csv("iphone_macbook_test.csv")
print( df.head(4))
#Lưu DataFrame thành file mới
df.to_csv("output1.csv" ,index=False)
print("đã lưu hoàn thành output1.csv")

         Product  Model Storage     Color  Price
0      iPhone 13  A2633   128GB      Blue    799
1      iPhone 14  A2882   256GB  Midnight    899
2  iPhone 15 Pro  A3102   512GB  Titanium   1199
3    MacBook Air     M2   256GB    Silver   1199
đã lưu hoàn thành output1.csv

In [21]:
#Bài tập 3: Lọc và xử lý dữ liệu
data = {
    "Ten" : ["Alice", "John", "Elon", "Trump"],
    "Income": [3000, 5400, 9999, 444]
}
df = pd.DataFrame(data)

#Fileter data: People has income more than 6000
filter_df = df[df["Income"] > 6000]
print(filter_df)

#Xử lý mising values: diền bằng gia trị trung bình
df["Income"].fillna(df["Income"].mean(), inplace=True)
print("\nDataFrame sau khi xử lý missing values: \n", df)

    Ten  Income
2  Elon    9999

DataFrame sau khi xử lý missing values:
      Ten  Income
0  Alice    3000
1   John    5400
2   Elon    9999
3  Trump     444

C:\Users\ACER\AppData\Local\Temp\ipykernel_8\1273419782.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df["Income"].fillna(df["Income"].mean(), inplace=True)